# List

In [4]:
name_list1=["Arun","Archana","Sanchayita","Latha"]
print(name_list1)

['Arun', 'Archana', 'Sanchayita', 'Latha']

In [5]:
type(name_list1)

list

In [6]:
name_list2=["Vinay","Suja","Thiru","Prema"]

In [7]:
names=name_list1+name_list2
names

['Arun', 'Archana', 'Sanchayita', 'Latha', 'Vinay', 'Suja', 'Thiru', 'Prema']

In [8]:
type(names)

list

In [9]:
### How to  insert an element in the list
names.append("Lalith")

In [10]:
print(names)

['Arun', 'Archana', 'Sanchayita', 'Latha', 'Vinay', 'Suja', 'Thiru', 'Prema', 'Lalith']

### Gets appended at the last

# Sorting elements in alist

In [11]:
num_list=[10,23,12,6,45]
num_list.sort()

In [12]:
num_list

[6, 10, 12, 23, 45]

In [13]:
name_list2.sort()
name_list2

['Prema', 'Suja', 'Thiru', 'Vinay']

In [15]:
num_list.sort(reverse=True) ## Sorting in reverse
num_list

[45, 23, 12, 10, 6]

In [17]:
name_list2.sort(reverse=True)
name_list2

['Vinay', 'Thiru', 'Suja', 'Prema']

In [19]:
list_mixed_data_types=[12,4.5,"hi","True",False] ## cannot sort with mixed data types
list_mixed_data_types.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

# Sorting a list by sorted function

In [24]:
num_list=[23,32,12,25]

In [25]:
num_list_sorted=sorted(num_list)
num_list_sorted

[12, 23, 25, 32]

Sort() modifies an existing list but sorted creates a new list

# Checking Presence of element in the list

In [26]:
print("latha" in name_list1)

False

In [27]:
print("Latha" in name_list1)

True

# Iterating through all the elements in a list

In [30]:
for names in name_list2:
    print (names)

Vinay
Thiru
Suja
Prema

In [31]:
len(name_list2) ### Number of elements

4

In [32]:
max(num_list)

32

In [33]:
max(name_list2)

'Vinay'

In [34]:
min(num_list)

12

In [35]:
min(name_list1)

'Archana'

In [43]:
list=[10,20,30.0,"hi"]
print(len(list))
print(max(list))

4

TypeError: '>' not supported between instances of 'str' and 'float'

# Removing an elements of a list

In [44]:
print(list)

[10, 20, 30.0, 'hi']

In [45]:
list.clear()
print(list)

[]

In [53]:
new_list=name_list1.copy()

In [54]:
print(new_list)

['Arun', 'Archana', 'Sanchayita', 'Latha']

In [55]:
new_list.append("Lachu")
new_list

['Arun', 'Archana', 'Sanchayita', 'Latha', 'Lachu']

In [57]:
new_list.append("Lachu")

In [58]:
new_list

['Arun', 'Archana', 'Sanchayita', 'Latha', 'Lachu', 'Lachu']

In [59]:
new_list.count("Lachu")

2

In [63]:
list_1=["Data","Analytics","Python"]
list_2=["AI","BA","HR"]
list_1.extend(list_2)  ## entends the current list by adding another list to an end
list_1

['Data', 'Analytics', 'Python', 'AI', 'BA', 'HR']

In [65]:
list_1.index('AI')

3

In [67]:
list_1.insert(2,"HR") ## Inserting an element at spec index
list_1

['Data', 'Analytics', 'HR', 'HR', 'Python', 'AI', 'BA', 'HR']

In [70]:
list_1.pop(2) ## remove an ement using index position
list_1

['Data', 'Analytics', 'Python', 'AI', 'BA', 'HR']

In [71]:
list_1.remove("AI")
list_1

['Data', 'Analytics', 'Python', 'BA', 'HR']

In [74]:
list_1.reverse()
list_1

['HR', 'BA', 'Python', 'Analytics', 'Data']

In [75]:
list_1.sort(reverse=True)
list_1

['Python', 'HR', 'Data', 'BA', 'Analytics']

In [76]:
list_1[0:2]

['Python', 'HR']

In [77]:
list_1[-1]

'Analytics'

In [79]:
list_1[0:-1] ## start at 0 and end at -2

['Python', 'HR', 'Data', 'BA']

In [80]:
list_1[-3:-1]

['Data', 'BA']

In [81]:
list_1[::-1] ### reverse the list

['Analytics', 'BA', 'Data', 'HR', 'Python']