### Operators
#### Arithmetic
#### Relational 
#### Logical
####  Membership
#### Bitwise
#### Assignment

### Arithmetic Operators(Add,Sub,Mul,Div,Exp,Modulus,Floor Division)

In [24]:
income=10000
incentive=1000
Total=income+incentive
Total

11000

In [5]:
x=67
y=45
z=x-y
z

22

In [7]:
x=20
y=4
z=x*y
z

80

In [8]:
x=20
y=4
z=x/y
z

5.0

In [9]:
### exponential (**)
a=7
b=3
z=a**b
z

343

In [13]:
### Modulus(%)-Remainder
### x%y
### if x>y,it returns remainder
### ifx<y,it returns x
a=1
b=3
z=a%b
z

1

In [18]:
### Floor Division(//)-Quotient
### x//y
### if x>y,it returns quotient
### if x<y,it returns zero
a=1
b=3
z=a//b
z

0

In [19]:
name=input("Enter ur name:")
print("Welcome",name)

Enter ur name:latha
Welcome latha

In [21]:
price=int(input("Enter price:"))
quantity=int(input("Enter quantity:"))
Cost=price*quantity
Cost

Enter price:34
Enter quantity:12

408

## Relational operators
### Equal to(==)
### Not equal to (!=)
### Greater than(>)
### Less than(<)
### Greater than or equal to(>=)
### Lesser  than or equal to(<=)

In [42]:
### Relational Operators
x=67a
y=34

In [43]:
x==y

False

In [44]:
x!=y

True

In [45]:
x<y

False

In [46]:
x>y

True

In [47]:
x>=y

True

In [48]:
x<=y

False

### Logical Operators
### AND
### OR
### NOT

### AND

In [52]:
is_student=True
in_college=True
in_school=False

In [53]:
is_student and in_college

True

In [54]:
is_student and in_school

False

### OR

In [56]:
is_student or in_school

True

### Not

In [57]:
not(is_student)

False

In [58]:
### Membership Operators
vowels="aeiou"
print("i" in vowels)

True

In [60]:
print("j" in vowels)

False

In [61]:
### not in
print("a" not in vowels)

False

In [63]:
print("p" not in vowels)

True

### Bitwise operators

In [64]:

number=10
(number%2==0)&(number%3==0)

False

In [65]:
number=10
(number%2==0)|(number%3==0)

True

### Assignment Operators
#### a+=b => a=a+b
#### a-=b => a=a-b

In [7]:
x=3
x+=5
x

8

In [10]:
x=3
x-=5
x

-2

In [11]:
x=5
x*=3
x

15

In [12]:
x=10
x/=2
x

5.0

In [14]:
x=5
x**=2
x

25

In [22]:
x=11
x%=3
x

2

In [23]:
x=10
x//=1.5
x

6.0